body {
    margin: 0;
    padding: 0;
    font-family: "Inter", system-ui;
    background-color: #f8f9fa;
}

.main-layout {
    display: flex;
  }
  
  .main-content {
    margin-left: 240px;
    padding: 20px;
    width: calc(100% - 250px);
  }
  
  .main-layout.hide-sidebar .main-content {
    margin-left: 0;
    width: 100%;
  }